<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역 선택</title>
</head>
<body>
    <h1>날씨 정보</h1>
    <p>원하는 지역을 선택하세요:</p>
    <form action="/submit" method="post">
        <input type="radio" id="seoul" name="location" value="서울">
        <label for="seoul">서울</label><br>
        <input type="radio" id="busan" name="location" value="부산">
        <label for="busan">부산</label><br>
        <input type="radio" id="daegu" name="location" value="대구">
        <label for="daegu">대구</label><br>
        <input type="radio" id="incheon" name="location" value="인천">
        <label for="incheon">인천</label><br>
        <input type="radio" id="gwangju" name="location" value="광주">
        <label for="gwangju">광주</label><br>
        <input type="radio" id="daejeon" name="location" value="대전">
        <label for="daejeon">대전</label><br>
        <input type="radio" id="ulsan" name="location" value="울산">
        <label for="ulsan">울산</label><br>
        <input type="radio" id="sejong" name="location" value="세종">
        <label for="sejong">세종</label><br>
        <input type="radio" id="gyeonggi" name="location" value="경기">
        <label for="gyeonggi">경기도</label><br>
        <input type="radio" id="chungbuk" name="location" value="충북">
        <label for="chungbuk">충청북도</label><br>
        <input type="radio" id="chungnam" name="location" value="충남">
        <label for="chungnam">충청남도</label><br>
        <input type="radio" id="jeonbuk" name="location" value="전북">
        <label for="jeonbuk">전라북도</label><br>
        <input type="radio" id="jeonnam" name="location" value="전남">
        <label for="jeonnam">전라남도</label><br>
        <input type="radio" id="gyeongbuk" name="location" value="경북">
        <label for="gyeongbuk">경상북도</label><br>
        <input type="radio" id="gyeongnam" name="location" value="경남">
        <label for="gyeongnam">경상남도</label><br>
        <input type="radio" id="jeju" name="location" value="제주">
        <label for="jeju">제주특별자치도</label><br>
        <input type="radio" id="gangwon" name="location" value="강원">
        <label for="gangwon">강원특별자치도</label><br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>
